<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<meta name="google-site-verification" content="GENB4UTmms80vinMqrWhYW7tU9e7ubfkM4ePkC04N5k" />
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127088760-1"></script>
			<script>
  			window.dataLayer = window.dataLayer || [];
  			function gtag(){dataLayer.push(arguments);}
  			gtag('js', new Date());
				
  			gtag('config', 'UA-127088760-1');
			</script>
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>
					<li><a href="https://drive.google.com/open?id=1NlLOJCvj_t9gRw-J-wetTwh5BxdG5-nv">Resume</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:zyabxwcd@gmail.com" target="_blank">email</a></li>
	        		<li><a href="https://github.com/zyabxwcd" target="_blank">github</a></li>
					<li><a href="https://linkedin.com/in/akashaggarwal13" target="_blank">linkedin</a></li>
					<li><a href="https://kaggle.com/zyabxwcd" target="_blank">kaggle</a></li>
					<li><a href="https://hackerrank.com/zyabxwcd" target="_blank">hackerrank</a></li>
					<li><a href="https://reddit.com/u/zyabxwcd" target="_blank">reddit</a></li>
				</ul>
			</footer>
		</body>
	</html>
